*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trirong", serif;
}   

body{
    background-image: url("/static/img/index.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 10%;
}

.logo{
    color: rgb(255, 255, 255);
    font-size: 28px;
}

.logo span{
    color: rgb(0, 255, 255);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

nav ul li a:hover{
    color:  rgb(0, 247, 255);
    transition: .3s;
}


button{
    border: none;
    background: rgb(255, 255, 255);
    padding: 12px 30px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 247, 255);
}

.main{
    float: right;
  position: absolute;
  top: 20%;
  right: 15%;
    width: 550px;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
    padding: 5%;
}

h1{
    color: #0086b3;
    font-size: 30px;
    font-weight: bold;
}

input[type=submit]{
    background-color: #4dc3ff;
    border: 2px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 15px;
}